<div class="relative">
  <a class="absolute flex items-center" routerLink="/">
    <img class="max-h-12 cursor-pointer" src="/assets/images/logo.png" />
    <span class="chill ml-4 text-2xl font-bold tracking-[3px] uppercase">C H I L L.</span>
  </a>

  <div class="flex w-full max-w-xl mx-auto mb-10">
    <input (keyup.enter)="keyword && onSearch()" [(ngModel)]="keyword" type="text" placeholder="Search"
      class="text-base w-full pl-5 borde border-solid rounded-tl-[40px] rounded-bl-[40px] border-[1px] border-[#303030] bg-[#121212] h-10">

    <div (click)="keyword && onSearch()" class="flex items-center rounded-tr-[40px] rounded-br-[40px] cursor-pointer px-5 bg-[#303030]">
      <mat-icon class="text-[#999]">search</mat-icon>
    </div>
  </div>

  <div class="block absolute right-4 top-0">
    <ng-container *ngIf="user; else googleLogin">
      <div [matMenuTriggerFor]="menu" style="--c: linear-gradient(225deg, #2196f3 0%, #b3077f 100%)" class="avatar-gradient cursor-pointer">
        <img class="w-11 h-11 rounded-[50%] mr-3" referrerpolicy="no-referrer" [src]="user.photoUrl" [alt]="user.firstName + ' ' + user.lastName" />
        <mat-menu class="" #menu="matMenu">
          <button [routerLink]="'/playlist'" mat-menu-item>Playlist</button>
          <button mat-menu-item>Logout</button>
        </mat-menu>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #googleLogin>
  <asl-google-signin-button
    type="standard" shape="pill" theme="filled_black" width="209" size="large"
    text="signin_with" logo_alignment="left"></asl-google-signin-button>
</ng-template>
