.logo {
  height: 60px;
  width: 60px;
}

.chill {
  font-family: 'Dosis' ,sans-serif;
  color: #2196f3;
  background-image: -webkit-linear-gradient(225deg, #2196f3 0%, #b3077f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
