.logo {
  height: 60px;
  width: 60px;
}

.chill {
  font-family: 'Dosis', sans-serif;
  color: #2196f3;
  background-image: -webkit-linear-gradient(225deg, #2196f3 0%, #b3077f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.avatar-gradient {
  --b: 5px;
  /* border width*/

  color: #313149;
  display: inline-block;
  aspect-ratio: 1;
  position: relative;
}

.avatar-gradient:before {
  content: "";
  inset: 0;
  background: var(--c, linear-gradient(to right, #9c20aa, #fb3570));
  padding: var(--b);
  border-radius: 50%;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}