<div (click)="onClick()" style="max-width: 360px; margin: 0 auto">
  <div class="clip">
    <section class="preview-container">
      <img [src]="thumbnail" />
      <span class="time-status">{{ duration }}</span>
    </section>

    <section class="content-container">
      <h3 class="apple-text" [title]="title">{{ title }}</h3>
      <footer>
        <div class="meta">
          <span></span>
          <p>{{ channel }}</p>
        </div>
        <div class="meta">
          <p>{{ view }}</p>
          <p>{{ publishedTime }}</p>
        </div>
      </footer>
    </section>
  </div>
</div>
