<app-music-player *ngIf="playingVideo" [@panelInOut] class="block mb-8" [video]="playingVideo"></app-music-player>

<div class="video-list overflow-scroll custom-scroll">
  <ng-container *ngIf="isLoading">
    <app-video-card *ngFor="let skeleton of videoService.getSkeletons()" [video]="skeleton"></app-video-card>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <app-video-card (click)="playingVideo = video" [@simpleFadeAnimation] *ngFor="let video of favorites; let i = index" [video]="video"></app-video-card>
  </ng-container>
</div>
