@import 'responsive';

.video-list {
  --columns-per-row: 1;

  display: grid;
  grid-template-columns: repeat(var(--columns-per-row), 1fr);
  grid-template-rows: 290px;
  gap: 2rem 1rem;
  margin: 0 auto;
  height: 85vh;

  @include tablet() {
    --columns-per-row: 3;
  }

  @include desktop() {
    --columns-per-row: 4;
  }
}
