// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
@import "./tailwind.scss";
@import "./typography.scss";
@import "./video-list";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
  background: #0f0f0f;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  color: rgba(255, 255, 255, 0.88);

  &:focus {
    outline: none;
  }
}

ngx-skeleton-loader span.skeleton-loader {
  background: rgba(255, 255, 255, 0.1) !important;
}

.custom-scroll::-webkit-scrollbar {
  width: 15px;
  height: 0;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #717171;
}

.time-status {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  right: 0;
  bottom: 5px;
  margin: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 11px;
  display: inline-block;
  padding: 1px 4px;
  border-radius: 2px;
}

.fa-beat {
  animation: fa-beat 5s ease infinite;
}

@keyframes fa-beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  55% {
    transform: scale(1.25);
  }
  70% {
    transform: scale(1);
  }
}
