// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$music-primary: mat.define-palette(mat.$indigo-palette);
$music-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$music-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$music-theme: mat.define-light-theme(
  (
    color: (
      primary: $music-primary,
      accent: $music-accent,
      warn: $music-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($music-theme);

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
@import "./tailwind.scss";
@import "./typography.scss";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
  background-color: #181818;
  // background-color: rgba(0,0,0,0.99);
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  color: rgba(255, 255, 255, 0.88);

  &:focus {
    outline: none;
  }
}

ngx-skeleton-loader span.skeleton-loader {
  background-color: #303030 !important;
}

.custom-scroll::-webkit-scrollbar {
  width: 15px;
  height: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #717171 !important;
}

.custom-scroll::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: hsl(0, 0%, 67%);
}

.time-status {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  right: 0;
  bottom: 5px;
  margin: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 11px;
  display: inline-block;
  padding: 1px 4px;
  border-radius: 2px;
}
