/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import './tailwind.scss';
@import './typography.scss';

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
  font-family: Roboto;
}

header {
  text-align: center;
  height: 24px;
  padding: 32px 0 8px;
  > img {
    height: 100%;
  }
}

.wrapper {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 210px);
  grid-row-gap: 0px;
  grid-column-gap: 4px;
  justify-content: center;
}

a {
  text-decoration: none;
}
