<div (click)="touch.emit(video.id)">
  <div class="clip">
    <section class="preview-container">
      <img [src]="video.thumbnail" />
      <span class="time-status">{{ video.duration }}</span>
    </section>

    <section class="content-container">
      <h3 class="apple-text" [title]="video.title">{{ video.title }}</h3>
      <footer>
        <div class="meta">
          <span></span>
          <p>{{ video.channel.title }}</p>
        </div>
        <div class="meta">
          <p>{{ video.view }}</p>
          <p>{{ video.publishedTime }}</p>
        </div>
      </footer>
    </section>
  </div>
</div>
