<div style="display: flex; justify-content: center; gap: 40px;">
  <div style="max-height: 100vh; overflow-y: scroll;" class="container">
    <app-card style="display: block; margin-bottom: 200px;" *ngFor="let video of videos"
      [title]="video.title" [channel]="video.channelTitle" [thumbnail]="'/api/proxy?url=' + (video.thumbnails.high?.url || video.thumbnails.medium?.url)"
      [videoId]="video.resourceId.videoId"
      (videoChanged)="onVideoChanged($event)"
    ></app-card>
  </div>

  <div style="padding-top: 4rem; display: flex; align-items: center; flex-direction: column;" >
    <div style="margin-bottom: 50px; width: 100%;">
      <div style="display: flex; justify-content: center; width: 100%;">
        <input (keyup.enter)="onSearch()" [(ngModel)]="keyword" style="width: 100%;" type="text" placeholder="Enter keyword">
        <button (click)="onSearch()">Search</button>
      </div>
      <p *ngIf="isSearching">Searching...</p>
    </div>

    <b style="display: block; margin-bottom: 1rem;">{{ videoTitle }}</b>
    <audio [src]="'/youtube.com/watch?v=' + videoId" autoplay controls preload="metadata"></audio>
  </div>
</div>
