<div class="p-4 bg-black/40 flex gap-5 text-white">
  <ng-container *ngIf="{ image: video?.thumbnail | proxyImage | async } as data">
    <div class="w-80">
      <div class="thumbnail-placeholder">
        <div class="thumbnail-container">
          <img *ngIf="data.image" [src]="data.image">
          <ngx-skeleton-loader *ngIf="!data.image" [theme]="{ width: '100%', height: '100%', 'border-radius': 0 }"></ngx-skeleton-loader>
        </div>

        <span *ngIf="video?.duration" class="time-status">{{ video?.duration }}</span>
      </div>
    </div>
  </ng-container>

  <div class="meta w-full flex flex-col gap-6 justify-between">
    <div>
      <ngx-skeleton-loader class="block" *ngIf="!video?.title" [theme]="{ width: '60%', 'margin-bottom.px': 16, height: '20px', 'border-radius': 0 }"></ngx-skeleton-loader>
      <span *ngIf="video?.title" class="block apple-text !text-sm !font-medium mb-4">{{ video?.title }}</span>

      <ngx-skeleton-loader class="block" *ngIf="!video?.channel?.title" [theme]="{ width: '30%', height: '16px', 'border-radius': 0, 'margin-bottom': 0 }"></ngx-skeleton-loader>
      <span *ngIf="video?.channel?.title" class="block apple-text">{{ video?.channel?.title }}</span>
    </div>

    <mat-icon
      *ngIf="userId && video"
      (click)="isFavorite = !isFavorite; onToggleFavorite$.next(isFavorite)" class="cursor-pointer fa-beat">
      {{ isFavorite ? 'favorite' : 'favorite_outlined' }}</mat-icon>

    <audio #audio *ngIf="video?.id" [volume]="0.2" (ended)="nextVideo()"
      class="w-full max-w-md h-10 mb-4" autoplay controls preload="metadata"
      [src]="'/api/stream/v2/' + video?.id"></audio>
  </div>
</div>
