<div class="p-4 bg-black/40 flex gap-5 text-white">
  <img class="max-w-xs" src="https://i.ytimg.com/vi/kMcmit9FUx0/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDUffccLnDV2jHUK5kSduXkjBeyzQ" />

  <div class="meta w-full flex flex-col gap-4">
    <div>
      <span class="block apple-text mb-4">URL Melt - Unicorn Heads</span>
      <span class="block apple-text">Album - Youtube music</span>
    </div>
    <audio class="w-full max-w-md h-10" autoplay controls preload="metadata" [src]="'/api/stream/5OBSai9oiVc'"></audio>
  </div>
</div>
