<div class="p-4 bg-black/40 flex gap-5 text-white">
  <img class="max-w-xs" src="https://i.ytimg.com/vi/kMcmit9FUx0/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDUffccLnDV2jHUK5kSduXkjBeyzQ" />

  <div class="meta flex flex-col gap-4">
    <span class="block apple-text">URL Melt - Unicorn Heads</span>
    <span class="block apple-text">Album - Youtube music</span>

    <div class="controls flex gap-2">
      <mat-icon id="playBtn">play_circle</mat-icon>
      <mat-icon id="stopBtn">stop_circle</mat-icon>
      <mat-icon id="volumeBtn">volume_up</mat-icon>
    </div>
  </div>
</div>
